<section>
  <form 
    [formGroup]="loginForm"
    fxLayout="column" 
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    (ngSubmit)="onSubmit()"
    >
    <mat-form-field>
      <input 
        formControlName="email"
        type="email" matInput placeholder="Email">
        <mat-hint>Please enter a valid email</mat-hint>
        <mat-error>Invalid or missing email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      formControlName="password"
      type="password" matInput placeholder="Password">
      <mat-hint>Please enter a valid email</mat-hint>
      <mat-error>Invalid password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</section>