<h2 class="titlepage">Parties</h2>
<mat-card>
    <mat-card-content>
      <div class="container">
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
          <div fxFlex="100%" fxFlex.xs="100%">
              <mat-horizontal-stepper>
                  <mat-step>
                      <ng-template matStepLabel>Shipper</ng-template>
                  </mat-step>
                  <mat-step>
                    <ng-template matStepLabel></ng-template>
                </mat-step>
                </mat-horizontal-stepper>
              <mat-form-field class="input-half-width">
                  <input matInput placeholder="Code" value="" />
                  <button mat-button matSuffix mat-icon-button aria-label="Search shipper" (click) = "openDialogSearchShipper()">
                    <mat-icon>search</mat-icon>
                  </button>
              </mat-form-field>
              <mat-checkbox class="margin-checkbox" color="primary">Non-regular client</mat-checkbox>
              <mat-form-field class="input-full-width">
                  <input matInput placeholder="Name" value="" />
              </mat-form-field>
              <mat-form-field class="input-full-width">
                <textarea matInput placeholder="Address"></textarea>
              </mat-form-field>
              <mat-form-field class="input-full-width">
                  <input matInput placeholder="Email" value="" />
              </mat-form-field>
          </div>
        </div>
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
            <div fxFlex="100%" fxFlex.xs="100%">
                <mat-horizontal-stepper>
                    <mat-step>
                        <ng-template matStepLabel>Consignee</ng-template>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel></ng-template>
                  </mat-step>
                  </mat-horizontal-stepper>
                <mat-form-field class="input-half-width">
                    <input matInput placeholder="Code" value="" />
                    <button mat-button matSuffix mat-icon-button aria-label="Search Consignee" (click) = "openDialogSearchConsignee()">
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-checkbox class="margin-checkbox" color="primary">Non-regular client</mat-checkbox>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Name" value="" />
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <textarea matInput placeholder="Address"></textarea>
                </mat-form-field>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Email" value="" />
                </mat-form-field>
            </div>
          </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
              <div fxFlex="100%" fxFlex.xs="100%">
                <mat-horizontal-stepper>
                    <mat-step>
                        <ng-template matStepLabel>Actual Consignee</ng-template>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel></ng-template>
                  </mat-step>
                </mat-horizontal-stepper>
                <mat-checkbox class="margin-checkbox fr" labelPosition="before" color="primary">Same as Consignee</mat-checkbox>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
              <div fxFlex="100%" fxFlex.xs="100%">      
                <mat-form-field class="input-half-width">
                    <input matInput placeholder="Code" value="" />
                    <button mat-button matSuffix mat-icon-button aria-label="Search Actual Consignee" (click)= "openDialogSearchActualConsignee()">
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-checkbox class="margin-checkbox" color="primary">Non-regular client</mat-checkbox>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Name" value="" />
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <textarea matInput placeholder="Address"></textarea>
                </mat-form-field>
              </div>
            </div>
            <!-- Bill to -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
              <div fxFlex="100%" fxFlex.xs="100%">
                <mat-horizontal-stepper>
                    <mat-step>
                        <ng-template matStepLabel>Bill to</ng-template>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel></ng-template>
                  </mat-step>
                </mat-horizontal-stepper>
                <mat-checkbox class="margin-checkbox fr" labelPosition="before" color="primary">Same as Consignee</mat-checkbox>
              </div>
            </div>
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
              <div fxFlex="100%" fxFlex.xs="100%">      
                <mat-form-field class="input-half-width">
                    <input matInput placeholder="Code" value="" />
                    <button mat-button matSuffix mat-icon-button aria-label="Search Bill To" (click) = "openDialogSearchBillTo()">
                      <mat-icon>search</mat-icon>
                    </button>
                </mat-form-field>
                <mat-checkbox class="margin-checkbox" color="primary">Non-regular client</mat-checkbox>
                <mat-form-field class="input-full-width">
                    <input matInput placeholder="Name" value="" />
                </mat-form-field>
                <mat-form-field class="input-full-width">
                  <textarea matInput placeholder="Address"></textarea>
                </mat-form-field>
              </div>
            </div>
            <!-- Notify Party 1 -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
                <div fxFlex="100%" fxFlex.xs="100%">
                  <mat-horizontal-stepper>
                      <mat-step>
                          <ng-template matStepLabel>Notify Party 1</ng-template>
                      </mat-step>
                      <mat-step>
                        <ng-template matStepLabel></ng-template>
                    </mat-step>
                  </mat-horizontal-stepper>
                  <mat-checkbox class="margin-checkbox fr" labelPosition="before" color="primary">Show "Same as Consignee"</mat-checkbox>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
                <div fxFlex="100%" fxFlex.xs="100%">      
                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Name" value="" />
                  </mat-form-field>
                  <mat-form-field class="input-full-width">
                    <textarea matInput placeholder="Address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <!-- Notify Party 2 -->
            <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
                <div fxFlex="100%" fxFlex.xs="100%">
                  <mat-horizontal-stepper>
                      <mat-step>
                          <ng-template matStepLabel>Notify Party 2</ng-template>
                      </mat-step>
                      <mat-step>
                        <ng-template matStepLabel></ng-template>
                    </mat-step>
                  </mat-horizontal-stepper>
                  <mat-checkbox class="margin-checkbox fr" labelPosition="before" color="primary">Same as Consignee</mat-checkbox>
                </div>
              </div>
              <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutGap.xs="0" fxLayoutAlign="flex-start">
                <div fxFlex="100%" fxFlex.xs="100%">      
                  <mat-form-field class="input-full-width">
                      <input matInput placeholder="Name" value="" />
                  </mat-form-field>
                  <mat-form-field class="input-full-width">
                    <textarea matInput placeholder="Address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center">
                <button mat-stroked-button>Save</button>
                <button mat-stroked-button>Reset</button>
                <button mat-stroked-button mat-dialog-close>Cancel</button>
              </div>
      </div>
    </mat-card-content>
  </mat-card>