.w95{width:94%;display: inline-block;}
.w5{width: 6%;display: inline-block;}
.mat-icon-button .mat-icon{line-height: 18px;margin-top:3px;}
.mat-icon{height:18px;width:18px;}
.material-icons {font-size:18px;}