.margintopcargo{margin-top: 37px;}
textarea.mat-input-element[_ngcontent-c27] {
    height: 17px;
}
mat-form-field.ng-tns-c17-60{margin-top: 20px;}
.example-container {
    height: 35vh;margin-top:20px;margin-bottom: 15px;
    width: 100%;
    overflow: auto;
  }
  
  table {
    width: 100%;
  }
  td.mat-cell{padding:0 7px;border-right: 1px solid #e0e0e0;}  
  td.mat-column-star {
    width: 20px;
    padding-right: 8px;
  }
  tr.mat-header-row{background:#00aae5;color:#fff !important;}
  th.mat-header-cell {
    text-align: center;
    border-right: 1px solid #e0e0e0;
}    
  .mat-table-sticky {
    border-right: 1px solid #e0e0e0;
  }
  
  .mat-table-sticky:last-child {
    border-left: 1px solid #e0e0e0;
  }
  td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
    padding-left: 0;
}