<mat-card>
  <mat-card-content>
    <div class="container">
      <h1 class="titlepage" style="display:block;">Cargo</h1>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutGap.xs="0">
        <div fxFlex="35%" fxFlex.xs="100%">
          <h2 class="titlepagesub">Container</h2>
          <a href="javascript:void(0);">Multi containers data entry</a>
          <mat-checkbox class="margin-checkbox fr" labelPosition="before" color="primary">Empty Ctr</mat-checkbox>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Container number" value="" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Carrier Seal No." value="" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Shipper's Seal No." value="" />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <mat-select placeholder="Container type">
              <mat-option value="20 BULK">20 BULK</mat-option>
              <mat-option value="20 FEET DRY CONTAINER">20 FEET DRY CONTAINER</mat-option>
              <mat-option value="20 FLAT RACK">20 FLAT RACK</mat-option>
              <mat-option value="20 HARD TOP">20 HARD TOP</mat-option>
              <mat-option value="20 INSULATED">20 INSULATED</mat-option>
              <mat-option value="20 OPEN TOP">20 OPEN TOP</mat-option>
              <mat-option value="20 PLATFORM">20 PLATFORM</mat-option>
              <mat-option value="20 REEFER">20 REEFER</mat-option>
              <mat-option value="20' STANDARD DRY">20' STANDARD DRY</mat-option>
              <mat-option value="20 TANK">20 TANK</mat-option>
              <mat-option value="20 VENTILATED">20 VENTILATED</mat-option>
              <mat-option value="20'' DC">20" DC</mat-option>
              <mat-option value="20'FR">20'FR</mat-option>
              <mat-option value="40 COLLAPSIBLE FLAT RACK">40 COLLAPSIBLE FLAT RACK</mat-option>
              <mat-option value="40 FEET DRY CONTAINER">40 FEET DRY CONTAINER</mat-option>
              <mat-option value="40 FEET HIGH CONTAINER">40 FEET HIGH CONTAINER</mat-option>
              <mat-option value="40 FLAT RACK">40 FLAT RACK</mat-option>
              <mat-option value="40 HARD TOP">40 HARD TOP</mat-option>
              <mat-option value="40 HIGH CUBE">40 HIGH CUBE</mat-option>
              <mat-option value="40 HIGH CUBE HARD TOP">40 HIGH CUBE HARD TOP</mat-option>
              <mat-option value="40 INSULATED">40 INSULATED</mat-option>
              <mat-option value="40 OPEN TOP">40 OPEN TOP</mat-option>
              <mat-option value="40 PLATFORM">40 PLATFORM</mat-option>
              <mat-option value="40 REEFER">40 REEFER</mat-option>
              <mat-option value="40 REEFER HIGH CUBE">40 REEFER HIGH CUBE</mat-option>
              <mat-option value="40 STANDARD DRY">40 STANDARD DRY</mat-option>
              <mat-option value="40 TANK">40 TANK</mat-option>
              <mat-option value="40 VENTILATED">40 VENTILATED</mat-option>
              <mat-option value="45 HIGH CUBE">45 HIGH CUBE</mat-option>
              <mat-option value="45 REEFER HIGH CUBE">45 REEFER HIGH CUBE</mat-option>
              <mat-option value="RH">RH</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox class="margin-checkbox" labelPosition="after" color="primary">Shipper's owned</mat-checkbox>
          <mat-checkbox class="margin-checkbox" labelPosition="after" color="primary">Part of container</mat-checkbox>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Reefer temperature" value="" />
          </mat-form-field>
          <button mat-stroked-button style="margin-right:5px;">New Container</button>
          <button mat-stroked-button style="margin-right:5px;">Copy</button>
          <button mat-stroked-button>Remove</button>
        </div>
        <div fxFlex="65%" fxFlex.xs="100%">
          <h2 class="titlepagesub">Cargo</h2>
          <div class="margintopcargo"></div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutGap.xs="0">
            <div fxFlex="25%" fxFlex.xs="75%">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Pkg Q'ty" value="" />
              </mat-form-field>
            </div>
            <div fxFlex="19%" fxFlex.xs="25%">
              <mat-form-field class="input-full-width">
                <mat-select placeholder="Pkg Type" [(ngModel)]="selectedValue" name="pkgtype">
                  <mat-option *ngFor="let item of pkgtype" [value]="item.value">{{item.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="25%" fxFlex.xs="75%">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="G.W" value="" />
              </mat-form-field>
            </div>
            <div fxFlex="25%" fxFlex.xs="25%">
              <mat-form-field class="input-full-width">
                <mat-select placeholder="G.W Unit" [(value)]="selected" name="gw">
                  <mat-option value="Kgs">Kgs</mat-option>
                  <mat-option value="Lbs">Lbs</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="2%" fxLayoutGap.xs="0">
            <div fxFlex="50%" fxFlex.xs="100%">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Commodity" value="" />
              </mat-form-field>
            </div>
            <div fxFlex="25%" fxFlex.xs="75%">
              <mat-form-field class="input-full-width">
                <input matInput placeholder="Vol." value="" />
              </mat-form-field>
            </div>
            <div fxFlex="25%" fxFlex.xs="25%">
              <mat-form-field class="input-full-width">
                <mat-select placeholder="Vol. Unit" [(value)]="selectedvol" name="volunit">
                  <mat-option value="Cbm">Cbm</mat-option>
                  <mat-option value="Cft">Cft</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <mat-form-field class="input-full-width">
            <textarea matInput placeholder="Cargo Desc."></textarea>
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <textarea matInput placeholder="Shipping Mark"></textarea>
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="HS Code" value="" />
          </mat-form-field>
          <button mat-stroked-button style="margin-right:5px;">Add</button>
          <button mat-stroked-button style="margin-right:5px;">New Cargo Line</button>
          <button mat-stroked-button style="margin-right:5px;">Copy</button>
          <button mat-stroked-button>Remove</button>
        </div>
      </div>
    </div>
    <!-- table -->
    <div class="example-container mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- Container Column -->
          <ng-container matColumnDef="container">
              <th mat-header-cell *matHeaderCellDef> Container </th>
              <td mat-cell *matCellDef="let element"> {{element.container}} </td>
            </ng-container>
          <!-- package_goods Column -->
          <ng-container matColumnDef="package_goods">
            <th mat-header-cell *matHeaderCellDef> Description of Goods and Packaging </th>
            <td mat-cell *matCellDef="let element"> {{element.package_goods}} </td>
          </ng-container>
          <!-- gw_vol Name Column -->
          <ng-container matColumnDef="gw_vol">
            <th mat-header-cell *matHeaderCellDef> G.W/Vol </th>
            <td mat-cell *matCellDef="let element"> {{element.gw_vol}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <!-- end table -->
      <div fxLayout="row" fxLayoutGap="2%" fxLayoutAlign="center center">
        <button mat-stroked-button>Save</button>
        <button mat-stroked-button mat-dialog-close>Cancel</button>
      </div>
  </mat-card-content>
</mat-card>