<h2 class="titlepage"><button mat-button (click)="openDialogRouting()" style="text-transform:uppercase;font-size:1.3em;">Routing</button></h2>
<mat-grid-list cols="4" rowHeight="3em">
  <mat-grid-tile>Origin</mat-grid-tile>
  <mat-grid-tile>Port of loading</mat-grid-tile>
  <mat-grid-tile>Port of discharge</mat-grid-tile>
  <mat-grid-tile>Place of delivery</mat-grid-tile>
  <mat-grid-tile>CFS Terminal</mat-grid-tile>
  <mat-grid-tile>Vessel</mat-grid-tile>
  <mat-grid-tile>ETA</mat-grid-tile>
  <mat-grid-tile>Final destination</mat-grid-tile>
</mat-grid-list>