#container{
    display: flex;
    flex: 1;
    width:92.7%;margin:0 auto;
}

#partiesComponent{
    flex:1;
}

#generalComponent{
    flex:1;
}
.mat-grid-list{width:93% !important;margin: 0 auto !important;}