/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.titlepage{color:#00aae5;font-size: 1.4em;text-transform: uppercase;text-align: center;padding: 10px 0;}
.form {min-width: 150px;max-width: 1000px;width: 100%;}  
.input-full-width {width: 100%;}
.input-half-width {width: 48%;margin-right: 2%;}
.input-34-width{width:34%;margin-right: 10px;}
.input-14-width{width:12.5%;}
.input-25-width{width:25%;}
.margin-checkbox{margin:0 10px;}
#mat-checkbox-4 .mat-checkbox-layout,#mat-checkbox-6 .mat-checkbox-layout,#mat-checkbox-8 .mat-checkbox-layout,#mat-checkbox-9 .mat-checkbox-layout{margin-top:-70px;}
.fl{float: left;}
.fr{float:right;}
.mat-step-icon-state-number{display: none;}
.mat-grid-tile{border:1px solid #ccc;}
.mat-grid-tile .mat-figure{justify-content:left !important;padding: 0 0 0 10px !important;}
.mat-list-base .mat-list-item{background:#00aae5 !important;margin: 0 0 5px 0 !important; color:#fff !important;}
.mat-card{width:92%;margin:0 auto;}
.mat-stroked-button:not([disabled]) {
    border-color: #00aae5;
}
@media screen and (max-width:2560px){
    .mat-toolbar-single-row {padding:0 3.4% !important;}
}
@media screen and (max-width:1920px){
    .mat-toolbar-single-row {padding:0 3.3% !important;}
}
@media screen and (max-width:1600px){
    .mat-toolbar-single-row {padding:0 2.9% !important;}
}
@media screen and (max-width:1440px){
    .mat-toolbar-single-row {padding:0 2.8% !important;}
}
@media screen and (max-width:1400px){
    .mat-toolbar-single-row {padding:0 2.8% !important;}
}
@media screen and (max-width:1366px){
    .mat-toolbar-single-row {padding:0 2.6% !important;}
}
@media screen and (max-width:568px){
    .w100{width:100% !important;}
    .input-half-width {width: 100%;margin-right: 0;}
    .input-34-width{width:100%;margin-right: 0;}
    .input-14-width{width:100%;}
    .input-25-width{width:100%;}
}
