/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.titlepage{color:#00f;font-size: 18px;text-transform: uppercase;text-align: center;padding: 10px 0;}
.form {min-width: 150px;max-width: 1000px;width: 100%;}  
.input-full-width {width: 100%;}
.input-half-width {width: 50%;margin-right: 10px;}
.margin-checkbox{margin:0 10px;}
#mat-checkbox-4 .mat-checkbox-layout,#mat-checkbox-6 .mat-checkbox-layout,#mat-checkbox-8 .mat-checkbox-layout,#mat-checkbox-9 .mat-checkbox-layout{margin-top:-70px;}
.fl{float: left;}
.fr{float:right;}
.mat-step-icon-state-number{display: none;}
@media screen and (max-width:568px){
    .w100{width:100% !important;}
}