<h2 class="titlepage"><button mat-button (click)="openDialog()" style="text-transform:uppercase;font-size:1.5em;">General</button></h2>
<mat-card>
  <mat-card-content>
    <div class="container">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="3%" fxLayoutGap.xs="0">
        <div fxFlex="50%" fxFlex.xs="100%">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="D/O No." value="{{do_no}}" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="HB/L No." value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Transit HB/L" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Shipment Code" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="File/Job No." value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Service code" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Shipment Type" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="MB/L No." value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Cus. Declaration No" value="" disabled />
          </mat-form-field>
          <mat-horizontal-stepper>
            <mat-step>
                <ng-template matStepLabel>Shipment Status</ng-template>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel></ng-template>
          </mat-step>
          </mat-horizontal-stepper>
        </div>
        <div fxFlex="50%" fxFlex.xs="100%">
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Posting date" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Transaction code" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Agent Ref." value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="P.O. No." value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Contract No." value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="A/N: 1st Sending Date" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="A/N: 2nd Sending Date" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="A/N: 3rd Sending Date" value="" disabled />
          </mat-form-field>
          <mat-form-field class="input-full-width">
            <input matInput placeholder="Original HBL Required" value="" disabled />
          </mat-form-field>
          <mat-horizontal-stepper>
            <mat-step>
                <ng-template matStepLabel>Payment Status</ng-template>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel></ng-template>
          </mat-step>
          </mat-horizontal-stepper>
          </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>